@import '../app/vars.scss';

.header{
  display: flex;
  align-items: center;
  margin-bottom: 5.555556vh;//60px
}

.header__logo{
  margin-right: 27.906977%;//480px
  width: 10.465116%;//180px
  min-width: 100px;
  svg{
    display: block;
    width: 100%;
  }
}

.header__nav{
  // width: 100%;
}

.header__nav__items{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__nav__items__item{
  position: relative;
  text-align: center;
  font: 700 2rem/1 $font;//28px
  margin-right: 5.714286rem;//80px
  cursor: pointer;
  &.active{
    color: $white-color;
  }
  &:first-of-type{
    &.active ~ .accent_block{
      left: ''
    }
  }
  &:nth-of-type(2){
    &.active ~ .accent_block{
      left: 8.071429rem;//113px
    }
  }
  &:nth-of-type(3){
    &.active ~ .accent_block{
      left: 18.285714rem;//256px
    }
  }
}

.accent_block{
  position: absolute;
  height: 2.857143rem;
  left: 0;
  @extend .basic-animation;
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 5px 20px;
    background-color: $accent-color;
    @extend .basic-shadow;
    z-index: -1;
  }
}

// .active{
//   text-align: center;
// }

// .active{
//   color: $white-color;
//     &::before{
//       content: '';
//       display: block;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       width: 100%;
//       height: 100%;
//       padding: 5px 20px;
//       background-color: $accent-color;
//       z-index: -1;
//     }
// }

.header__date-and-time{

}