@import '../app/vars.scss';

.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 9.259259vh;
  padding: 25px 0;
  position: relative;
  &:last-of-type{
    &::before{
      display: none;
    }
  }
  &::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #F5F5F5;
  }
  @keyframes showLeft {
    0%{
      margin-left: -50%;
    }
    100%{
      margin-left: initial;
    }
  }
  animation: showLeft .3s 1 ease-in-out;
}

.input_wrp{
  display: flex;
  align-items: center;
  font-size: 1.714286rem;//24px
  input[type='checkbox']{
    display: none;
    &:checked ~ .input_wrp__custom_box{
      &::before{
        width: 14px;
        height: 14px;
      }
    }
  }
}

.input_wrp__txt{
  margin-left: 1.428571rem;//20px
  @extend .basic-animation;
}

.input_wrp__custom_box{
  position: relative;
  border: 2px solid $grey-color;
  border-radius: 3px;
  min-width: 26px;
  min-height: 26px;
  &::before{
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $accent-color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    @extend .basic-animation;
  }
}

.buttons_wrp{
  margin-left: 15.384615px;
  text-align: center;
}

.basic_icon{
  cursor: pointer;
  font-size: 1.714286rem;//24px
  margin-top: 0.714286rem;//10px
  margin-top: 0.925926vh;
  &:first-of-type{
    margin-top: 0;
  }
}

.imp_icon{
  color: $orange-color;
}

.delete_icon{
  color: $red-color;
}

.return_icon{
  color: $green-color;
}