$color: #222;
$white-color: #fefefe;
$grey-color: #ccc;
$accent-color: #FFC42C;
$red-color: #FF4F4F;
$orange-color: #FF7A00;
$green-color: #66BB6A;
$blue-color: #03A9F4;
$font: 'PT Sans', Arial, sans-serif;
$font-bold: 'PT Sans Bold', Arial, sans-serif;

.flexBlockCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-animation{
  transition: all .2s ease-in-out;
}

.basic-shadow{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}