@import '_vars.scss';

.main_wrapper{
  width: 89.583333%;
  margin: 4.62963vh auto;
}

.todo_bg_txt{
  position: absolute;
  opacity: 0.06;
  bottom: 30px;
  right: -2%;
  font: 700 23.714286rem/1 $font;//332px
  z-index: -1;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.addTask_btn{
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  font: 700 2.714286rem/1 $font;//38px
  outline: none;
  &:hover{
    .addTask_btn__plus{
      &::after{
        margin-top: 0;
        transform: rotate(180deg);
      }
    }
  }
  &:active{
    .addTask_btn__plus{
      transform: scale(.9);
    }
  }
}

.addTask_btn__plus{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1.428571rem;//20px
  background-color: $accent-color;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  @extend .basic-animation;
  &::after{
    content: '\f067';
    margin-top: 2px;
    font: 400 28px 'FontAwesome';
    display: block;
    position: absolute;
    color: $white-color;
    @extend .basic-animation;
  }
}