@import '../app/vars';

.popup_wrp{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #222;
    opacity: 0.5;
    @extend .basic-animation;
  }
}

.popup_wrp__popup{
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  border-radius: 4px;
  padding: 2.142857rem 6.428571rem;//30px 90px
  width: 20%;
  min-width: 280px;
  background-color: $white-color;
  @extend .basic-shadow;
  @keyframes rollTop {
    0%{
      top: 50%;
    }
    100%{
      top: 0%;
    }
  }
  animation: rollTop .4s 1 ease-in-out;
}

.popup_wrp__popup.active{
  top: 50%;
  @keyframes rollTop {
    0%{
      top: 0%;
    }
    100%{
      top: 50%;
    }
  }
}

.popup_wrp__popup__input_wrp{
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  font-size: 1.142857rem;//16px
  border: none;
  font-family: $font;
  input{
    border: none;
    width: 100%;
    outline: none!important;
    &::placeholder{
      color: $grey-color;
    }
  }

  input:active ~ .popup_wrp__popup__input_wrp__btm_line,
  input:focus ~ .popup_wrp__popup__input_wrp__btm_line{
    border-bottom-color: transparent;
    &::before{
      display: none;
    }
    &::after{
      width: 100%;
      opacity: 1;
    }
  }
}

.popup_wrp__popup__input_wrp__btm_line{
  &::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $grey-color;
    @extend .basic-animation;
  }
  &::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $accent-color;
    z-index: 1;
    @extend .basic-animation;
  }
}

.popup_wrp__popup__add_btn{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  background-color: $accent-color;
  color: $white-color;
  border: none;
  border-radius: 100px;//40px
  padding: 10px 20px;//10px 40px
  font: 700 20px/1 $font;//24px
  &::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    height: 100%;
    border: 2px solid $accent-color;
    opacity: 0;
    border-radius: 100px;//40px
    @extend .basic-animation;
  }
  @extend .basic-shadow;
  @extend .basic-animation;

  &:hover,
  &:focus,
  &:active{
    color: $accent-color;
    background-color: transparent;
    box-shadow: none;
    &::before{
      opacity: 1;
    }
  }
  @extend .basic-shadow;
}

.popup_wrp__validation_block{
  height: 12px;
  margin-bottom: 10px;
  font: 400 12px/1 $font;
  color: $red-color;
  visibility: visible;
  @extend .basic-animation;
}

.popup_wrp__validation_block.hidden{
  height: auto;
  visibility: hidden;
  opacity: 0;
}

.popup_wrp__popup__close_btn{
  cursor: pointer;
  color: $red-color;
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;//16px
}